.page {
  :global(.TableCell) {
    &.name {
      flex-grow: 1.3;
    }

    &.controller {
      flex-grow: 1.5;
    }

    &.accepted {
      flex-grow: 0.5;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
