.page {
  :global(.TableCell) {
    &.name {
      flex-grow: 2;
    }

    &.namespace {
      flex-grow: 1;
    }

    &.from {
      flex-grow: 2;
    }

    &.to {
      flex-grow: 2;
    }

    &.age {
      flex-grow: 0.5;
    }
  }
}
